@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Fraunces;
    src: url("/font/Fraunces/static/Fraunces_144pt_SuperSoft-Bold.ttf") format("truetype");
}
@font-face {
    font-family: Montserrat;
    src: url("/font/Montserrat/static/Montserrat-light.ttf") format("truetype");
}
@font-face {
    font-family: Montserrat-Bold;
    src: url("/font/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
#gabrielle{
    font-family: Fraunces;
    font-size:50px;
    line-height: 0.9;
}
#description{
    font-family: Montserrat;
}
#ad-cart{
    font-family: Montserrat-Bold;
    font-size: 14px;
}
#perfume{
    font-family: Montserrat;
    letter-spacing:1cap;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}